.advantages {
  margin-top: -3px;
  margin-bottom: 23px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 27px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;

  color: $title-color;
}

.advantages__list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  list-style: none;
}

.advantages__item {
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  &::before {
    content: "";
    margin-right: 20px;

    flex-shrink: 0;
    width: 60px;
    height: 60px;

    display: block;
    background-color: $bg-green;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--dining::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

.advantages__description {
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-bottom: 102px;
  }

  .advantages__title {
    margin-bottom: 72px;
    font-size: 60px;
  }

  .advantages__list {
    flex-direction: row;
  }

  .advantages__item {
    display: block;

    margin-bottom: 133px;

    position: relative;

    width: 250px;
    flex-direction: column;
    align-items: flex-start;

    &::before {
      margin-bottom: 32px;

      width: 80px;
      height: 80px;
    }

    &::after {
      content: "1";

      position: absolute;
      top: -40px;
      right: 20px;

      font-size: 281px;
      line-height: 281px;

      color: #f2f2f2;

      z-index: -1;
    }

    &--leaf::after {
      content: "1";
    }

    &--powder::after {
      content: "2";
      right: 5px;
    }

    &--dining::after {
      content: "3";
      right: 2px;
    }

    &--clock::after {
      content: "4";
      right: 2px;
    }
  }

  .advantages__item:nth-child(2n-1) {
    margin-right: 135px;
  }

  .advantages__item:last-child {
    margin-bottom: 0;
  }

  .advantages__item:nth-last-child(2) {
    margin-bottom: 0;
  }

  .advantages__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    margin-bottom: 0;
  }

  .advantages__list {
    margin-left: -80px;
  }

  .advantages__item:nth-child(2n-1) {
    margin-bottom: 80px;
    margin-right: 0;
  }

  .advantages__item {
    margin-bottom: 80px;
    margin-left: 80px;
    width: 245px;

    &--leaf::after {
      right: 17px;
    }

    &--powder::after {
      right: 0;
    }

    &--dining::after {
      right: -4px;
    }

    &--clock::after {
      right: -4px;
    }
  }

  .advantages__item:last-child {
    margin-bottom: 80px;
  }
}
